<table class="table table-striped">

  <!--<thead>-->
  <!--<tr style="background: #005cbf ;color: white;">-->
  <!--<th *ngFor="let column of moduleColumns;" [id]="">-->
  <!--{{column.name}}-->
  <!--</th>-->
  <!--</tr>-->
  <!--</thead>-->

  <tbody>
    <ng-container *ngFor="let row of categoryVOs; let i = index">
      <tr>
        <td>{{row.name}}</td>
        <td width="150px">{{row.plannedSpending}}zł</td>
        <td width="175px">{{row.actualSpending}}zł</td>
        <td width="150px"
            [ngClass]="{'negative-difference': row.difference<0, 'positive-difference': row.difference>0}">
          {{row.difference | number : '1.2-2'}}zł
        </td>
        <td width="150px">{{row.percent}}%</td>
        <td width="275px">
          <button type="button" class="btn btn-primary btn-sm" style="margin: 3px" (click)="plannedBudgetOnClick(i)">Planuj budżet</button>
          <button type="button" class="btn btn-primary btn-sm" style="margin: 3px" (click)="showSpendingOnClick()">Zobacz wydatki</button>
        </td>
      </tr>

      <!--<tr *ngIf="row.open">-->
      <!--<td [attr.colspan]="moduleColumns.length">-->
      <!--<app-category-view [moduleId]="row.id"></app-category-view>-->
      <!--</td>-->
      <!--</tr>-->
    </ng-container>

  </tbody>
</table>
