<div class="window">
  <div>
    <app-toolbar-not-logged></app-toolbar-not-logged>
  </div>
  <div class="container">

    <mat-card class="center-mat-card">
      <mat-card-title>
        <p class="text-center"><strong id="title">Logowanie</strong></p>
      </mat-card-title>
      <mat-card-content>
        <p *ngIf="alert !== undefined">
          <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
        </p>

        <form [formGroup]="loginForm">

          <mat-form-field class="mat-input-form">
            <input matInput
                   id="username"
                   placeholder="Nazwa użytkownika"
                   formControlName="username">
            <mat-error *ngIf="loginForm.getError('required', ['username'])">
              Nazwa użytkownika nie może być pusta
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mat-input-form">
            <input matInput
                   id="password"
                   type="password"
                   placeholder="Hasło"
                   formControlName="password">
            <mat-error *ngIf="loginForm.getError('required', ['password'])">
              Hasło nie może być puste
            </mat-error>
          </mat-form-field>

          <div class="container-form-buttons">
            <button type="submit"
                    [disabled]="this.loginForm.invalid"
                    (click)="onSubmit()"
                    class="btn btn-success form-button">
              Zaloguj
            </button>
          </div>

        </form>
      </mat-card-content>
      <mat-card-footer>
        <p class="text-center">
          Jesteś nowy? Stwórz konto <strong><a routerLink="/register" routerLinkActive="true">tutaj.</a></strong>
        </p>
      </mat-card-footer>
    </mat-card>

  </div>
</div>
