<div fxLayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
  <mat-card class="info">
    <mat-card-content>Wydatki w tym miesiącu: <b style="color: dodgerblue">100</b></mat-card-content>
  </mat-card>
  <mat-card class="info">
    <mat-card-content>Wydatki w listopadzie: <b style="color: dodgerblue">200</b></mat-card-content>
  </mat-card>
</div>

<div fxLayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
  <mat-card class="info">
    <mat-card-content>Wydatki na przestrzeni miesięcy</mat-card-content>
  </mat-card>
  <mat-card class="info">
    <mat-card-content>Wydatki wg. modułów</mat-card-content>
  </mat-card>
</div>
