<div class="window">
  <div>
    <app-toolbar-not-logged></app-toolbar-not-logged>
  </div>
  <div class="container">

    <mat-card class="center-mat-card">
      <mat-card-title>
        <p class="text-center"><strong id="title">Rejestracja</strong></p>
      </mat-card-title>
      <mat-card-content>

        <p *ngIf="alert !== undefined">
          <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
        </p>

        <form [formGroup]="registrationForm">

          <mat-form-field class="mat-input-form">
            <input matInput
                   id="username"
                   placeholder="Nazwa użytkownika"
                   formControlName="username">
            <mat-error *ngIf="registrationForm.getError('required', ['username'])">
              Nazwa użytkownika nie może być pusta
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mat-input-form">
            <input matInput
                   id="email"
                   placeholder="Email"
                   formControlName="email">
            <mat-error *ngIf="registrationForm.getError('required', ['email'])">
              Email nie może być pusty
            </mat-error>
            <mat-error *ngIf="registrationForm.getError('email', ['email'])">
              Email ma niewłaściwy format
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mat-input-form">
            <input matInput
                   id="password"
                   type="password"
                   placeholder="Hasło"
                   formControlName="password"
                   (keyup)="checkFields()">
            <mat-error *ngIf="registrationForm.getError('required', ['password'])">
              Hasło nie może być puste
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mat-input-form">
            <input matInput
                   id="confirm-password"
                   type="password"
                   placeholder="Powtórz hasło"
                   formControlName="confirmPassword">
            <mat-error *ngIf="registrationForm.getError('required', ['confirmPassword'])">
              Pole nie może być puste
            </mat-error>
            <mat-error *ngIf="registrationForm.getError('confirmPassword', ['confirmPassword'])">
              Podane hasła nie są identyczne
            </mat-error>
          </mat-form-field>

          <div class="container-form-buttons">
            <button id="button-reset"
                    type="reset"
                    class="btn btn-secondary form-button">Wyczyść
            </button>

            <button type="submit"
                    [disabled]="this.registrationForm.invalid"
                    (click)="onSubmit()"
                    class="btn btn-success form-button">Stwórz
            </button>
          </div>
        </form>
      </mat-card-content>

      <mat-card-footer>
        <p class="text-center">
          Masz już konto? <strong><a routerLink="/login" routerLinkActive="true">Zaloguj się</a></strong>
        </p>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
