<link rel="stylesheet" type="text/css" href="https://npmcdn.com/angular2-toaster@6.1.0/toaster.css"/>
<toaster-container></toaster-container>

<mat-card style="height: 100%; overflow-y: scroll">
  <mat-card-content>

    <mat-form-field class="filter-field">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort="">

      <ng-container matColumnDef="{{columns[0]}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">
          {{element.position}}
        </td>
      </ng-container>

      <ng-container matColumnDef="{{columns[1]}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.isEditing">{{element.name}}</ng-container>

          <mat-form-field *ngIf="element.isEditing">
            <input matInput value="{{element.name}}" (blur)="updateElementNameOnBlur($event.target.value, element)">
          </mat-form-field>

        </td>
      </ng-container>

      <ng-container matColumnDef="{{columns[2]}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Module</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.isEditing">{{element.module.name}}</ng-container>

          <mat-form-field *ngIf="element.isEditing">
            <mat-select [compareWith]="compareModules" [(value)]="element.module">
              <mat-option *ngFor="let module of modules" [value]="module">
                {{module.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </td>
      </ng-container>

      <ng-container matColumnDef="{{columns[3]}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <button id="options-button" matTooltip="You can edit custom categories only.">Options</button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="btn btn-primary" *ngIf="!element.isEditing" (click)="enableElementEditMode(element)">Edit</button>
          <button type="button" class="btn btn-danger" *ngIf="!element.isEditing" (click)="showDeleteDialog(element)">Delete</button>

          <button type="button" class="btn btn-success" *ngIf="element.isEditing && !element.isNew"
                  (click)="updateExistingElement(element)">Save
          </button>
          <button type="button" class="btn btn-secondary" *ngIf="element.isEditing && !element.isNew"
                  (click)="cancelElementEditMode(element)">Cancel
          </button>

          <button type="button" class="btn btn-success" *ngIf="element.isEditing && element.isNew" (click)="insertElement(element)">Insert
          </button>
          <button type="button" class="btn btn-secondary" *ngIf="element.isEditing && element.isNew"
                  (click)="cancelNewElementEditMode(element)">Cancel
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let element; columns: columns;"></tr>
    </table>
    <div style="display: flex; padding: 16px">
      <button type="button" [disabled]="insertedRows > 0" style="flex: 1; padding: 8px; margin: 16px; width: 100%" class="btn btn-success btn-lg btn-block"
              (click)="createRowInTable()">
        Create new record
      </button>
      <mat-paginator style="width: 100%" [pageSizeOptions]="[5, 7, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </mat-card-content>
</mat-card>
