table {
  width: 100%;
  height: border-box;
  overflow: visible;
  table-layout: fixed;
}

.btn {
  margin: 5px;
  font-size: 12px;
}

#options-button {
  background: none;
  border: none;
  cursor: pointer;
}
