<mat-card>
  <mat-card-content>

    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let column of moduleColumns;" [id]="">
            {{column.name}}
          </th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let row of moduleVOs; let i = index">
        <tr  class="clickable" (click)="onRowClick(i)">
          <td width="40%">{{row.name}}</td>
          <td width="15%">{{row.plannedSpending}}</td>
          <td width="15%">{{row.actualSpending}}</td>
          <td width="15%">{{row.difference}}</td>
          <td width="15%">{{row.percent}}%</td>
        </tr>

        <tr *ngIf="row.open">
          <td [attr.colspan]="moduleColumns.length">
            <app-category-view [moduleId]="row.id"></app-category-view>
          </td>
        </tr>
        </ng-container>

      </tbody>
    </table>

  </mat-card-content>
</mat-card>
