<div class="window">
  <div>
    <app-toolbar-not-logged></app-toolbar-not-logged>
  </div>
  <div class="container">
    <div class="title">

      <div class="row" style="width: 100%;">
        <div class="column" style="width: 100%; text-align: left; padding-left: 24px">
          <h1><strong>Plan</strong> your <strong style="color:dodgerblue">budget</strong><br>
            and <strong>save</strong> money!</h1>
        </div>
        <div class="column" style="width: 100%">
          <ul style="text-align: left; padding-left: 24px">
            <li style="list-style: none; width: 100%">
              <img src="../../../assets/ok.png" style="width: 32px"> Group your spending in categories.
            </li>
            <li style="list-style: none">
              <img src="../../../assets/ok.png" style="width: 32px"> Plan your future spending and checking prognosis.
            </li>
            <li style="list-style: none">
              <img src="../../../assets/ok.png" style="width: 32px"> Save your money.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
