<div class="window">
  <div>
    <app-toolbar-not-logged></app-toolbar-not-logged>
  </div>
  <div class="container">
    <div class="title">

      <div class="row" style="width: 100%;">
        <div class="column" style="width: 100%; text-align: left; padding-left: 24px">
          <!--<h1><strong>Plan</strong> your <strong style="color:dodgerblue">budget</strong><br>-->
          <h1><strong>Planuj</strong> swój <strong style="color:dodgerblue">budżet</strong><br>
            <!--and <strong>save</strong> money!</h1>-->
            i <strong>oszczędzaj</strong> pieniądze!</h1>
        </div>
        <div class="column" style="width: 100%">
          <ul style="text-align: left; padding-left: 24px">
            <li style="list-style: none; width: 100%">
              <img src="../../../assets/ok.png" style="width: 32px">Grupuj wydatki w kategorie
            </li>
            <li style="list-style: none">
              <img src="../../../assets/ok.png" style="width: 32px"> Planuj przyszłe wydatki i sprawdzaj prognozy
            </li>
            <li style="list-style: none">
              <img src="../../../assets/ok.png" style="width: 32px"> Oszczędzaj pieniądze
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
