#options-button {
  background: none;
  border: none;
  cursor: pointer;
}

.mat-icon {
  margin: 4px;
  padding: 0;
  cursor: pointer;
  height: 100%;
  vertical-align: middle;
}

table {
  width: 100%;
  height: border-box;
  overflow: visible;
  table-layout: fixed;
}

@media only screen and (max-width: 749px) {
  table {
    width: auto;
  }
}
