<form>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail12" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
</form>
<!--&lt;!&ndash;<link href="../../household-budget/frontend/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">&ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

<!--<div class="red">-->
<!--<div class="white">-->
<!--<div class="text-center">-->
<!--<h3 class="font-weight-bold">-->
<!--<strong>SIGN UP</strong>-->
<!--</h3>-->
<!--</div>-->
<!--<br>-->

<!--<form [formGroup]="registrationForm" #form="ngForm">-->
<!--<div class="form-group">-->
<!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
<!--</div>-->

<!--<mat-form-field class="mat-input-form">-->
<!--<input matInput-->
<!--placeholder="Username"-->
<!--formControlName="username"-->
<!--required>-->
<!--<mat-error *ngIf="registrationForm.get('username').hasError">{{getUsernameErrorMessage()}}-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--<br>-->
<!--<mat-form-field class="mat-input-form">-->
<!--<input matInput-->
<!--placeholder="Email"-->
<!--formControlName="email"-->
<!--required>-->
<!--<mat-error *ngIf="registrationForm.get('email').hasError">{{getEmailErrorMessage()}}</mat-error>-->
<!--</mat-form-field>-->
<!--<br>-->
<!--<mat-form-field class="mat-input-form">-->
<!--<input matInput-->
<!--placeholder="Password"-->
<!--formControlName="password"-->
<!--type="password"-->
<!--required>-->
<!--<mat-error *ngIf="registrationForm.get('password').hasError">{{getPasswordErrorMessage()}}-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--<br>-->
<!--<mat-form-field class="mat-input-form">-->
<!--<input matInput-->
<!--placeholder="Confirm password"-->
<!--formControlName="confirmPassword"-->
<!--type="password"-->
<!--required>-->
<!--<mat-error *ngIf="registrationForm.get('confirmPassword').hasError">-->
<!--{{getConfirmPasswordErrorMessage()}}-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--<br><br>-->
<!--<button type="submit" class="btn btn-success btn-lg" style="width: 100%;">Sign up</button>-->
<!--</form>-->

<!--<br>-->
<!--<div class="col-md-12">-->
<!--<p class="font-small white-text d-flex justify-content-end">Have an account?-->
<!--<a href="#" class="ml-1 font-weight-bold"> Sign in</a>-->
<!--</p>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
