<div class="box">
  <app-toolbar *ngIf="registrationService.isLogin()"></app-toolbar>

  <mat-sidenav-container class="nav-menu-container" *ngIf="registrationService.isLogin()">
    <mat-sidenav #appDrawer class="nav-menu" [mode]="'side'" [opened]="true">
      <mat-nav-list class="mat-nav-list">
        <app-navigation-menu-item *ngFor="let item of menuItems" [menuItem]="item"></app-navigation-menu-item>
        <app-spinner></app-spinner>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="padding: 8px">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
