<div class="box">
  <app-toolbar *ngIf="registrationService.isLogin()"></app-toolbar>

  <mat-sidenav-container class="nav-menu-container" *ngIf="registrationService.isLogin()">
    <mat-sidenav #appDrawer class="nav-menu" [mode]="'side'" [opened]="true">
      <mat-nav-list>
        <ul class="nav">
          <app-navigation-menu-item *ngFor="let item of navigationMenuService.menuItems" [menuItem]="item"></app-navigation-menu-item>
        </ul>
        <app-spinner></app-spinner>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="nav-menu-container" style="padding: 4px">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
