<div class="window">
  <div class="container">

    <!--TODO add nav bar-->

    <h1><strong>Household</strong><strong style="color:dodgerblue;">Budget</strong></h1>

    <!--<div class="title row">-->
      <div class="title col-md-7 col-sm-7">

        <div class="row" style="width: 100%;">
          <div class="column" style="width: 100%; text-align: left; padding-left: 24px">
            <h1><strong>Plan</strong> your <strong style="color:dodgerblue">budget</strong><br>
              and <strong>save</strong> money!</h1>
          </div>
          <div class="column" style="width: 100%">
            <ul style="text-align: left; padding-left: 24px">
              <li style="list-style: none; width: 100%">
                <img src="../../../assets/ok.png" style="width: 32px"> Group your spending in categories.
              </li>
              <li style="list-style: none">
                <img src="../../../assets/ok.png" style="width: 32px"> Plan your future spending and checking prognosis.
              </li>
              <li style="list-style: none">
                <img src="../../../assets/ok.png" style="width: 32px"> Save your money.
              </li>
            </ul>
          </div>
        </div>

        <!--<h1>-->
        <!--Plan your budget and save money!-->
        <!--</h1>-->
        <!--<hr>-->

        <!--<h5><strong>Household Budget</strong> allows you to manage your daily spending and planning your budget.</h5>-->
        <!--&lt;!&ndash;<button class="btn btn-success btn-center">Get started</button>&ndash;&gt;-->
        <!--<div class="row">-->
        <!--<mat-card class="column">-->
        <!--<mat-card-title><img src="../../../assets/finance.png"></mat-card-title>-->
        <!--<mat-card-content>Text1</mat-card-content>-->
        <!--</mat-card>-->
        <!--<mat-card class="column">-->
        <!--<mat-card-title>Text1</mat-card-title>-->
        <!--<mat-card-content>Text1</mat-card-content>-->
        <!--</mat-card>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-5">-->
        <!--<img src="../../../assets/money.jpg">-->
      <!--</div>-->
    </div>
  </div>
</div>
